<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <!--# begin BMT[0]-->
    <!--# end   BMT[0]-->
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--# begin BMT[1]-->
  <!--# end   BMT[1]-->
  <appSettings>
    <add key="DBConnectionString" value="Sql:BARSADB/barsasql2019,Db=Nid_FST_Design % V1 % DD-BA-CF-47-99-F4-91-48-86-2D-CA-E6-A7-0F-D9-F8-EC-B4-A7-CE-9D-40-AC-9C-9D-EB-D9-68-86-02-F4-79-69-80-6A-FB-2E-D9-64-22-E0-0E-57-B0-5D-E6-B5-55-47-89-A0-F3-D3-6E-8D-0A-58-E1-F8-C4-AF-4B-D7-76-9D-56-EF-59-23-13-71-26-DC-BC-55-93-11-FA-74-A3-1A-B2-7A-44-6C-C7-0F-20-38-82-60-A6-B4-01-44-05-D2-5E-BD-B5-62-BC-23-4A-61-7D-A7-ED-59-05-80-D2-49-2E-A2-71-87-AE-18-6B-C5-12-B9-2C-D5-A1-2C-AF-BC-74-66-91-04-E4-34-B6-1A-AE-FE-14-01-23-15-F0-FF-38-23-8A-24-63-05-B3-7F-78-E1-1D-D5-F8-BE-13" />
    <!--<add key="EnableLoginTheme" value="true" />-->
    <!--<add key="RemoveCookieOnExitBrowser" value="true" />-->
    <!--<add key="SessionExpire" value="60" />-->
    <!--<add key="LockTime" value="20" />-->
    <!--<add key="MaxFileSizeKb" value="3000" />-->
    <!--<add key="Font" value="Iran" />-->
    <!--<add key="Font" value="IranFarsiNum" />-->

    <add key="MaxRequestCountBeforeShowCaptcha" value= "0"/>
    <add key="MaxRequestCountBeforeIpBlock" value="0"/>
    <add key="IgnoreRequestFilter" value="true"/>
    <add key="AreSecuritySettingsSet" value="true"/>
    <add key="LogCaptchaImage" value=""/>
    <add key="AreSecureProtocolsSet" value="true"/>
    
    <add key="Font" value="IranFarsiNumMonoSpace" />
    <add key="ConfigVersion" value="1" />
    <add key="ScannerAgentValidVersion" value="1.1" />
    <add key="ForceFormHelpButton" value="false" />
    <add key="DefaultCulture" value="fa-IR" />
    <!--<add key="ForceCulture" value="fa-IR" />-->
    <!--<add key="UseNewGridSetting" value="true" />-->
    <!--<add key="UseTranslation" value="true" />-->
    <add key="MultiCulture" value="false" />
    <add key="EnableCompactArray" value="false" />
    <add key="AnonymousUser_Portal" value="{UserName:'Portal', Password:'Portal123', IsActive: true}" />
    <add key="Workflow" value="ShowToolbar:true, ShowInfoBar:true, ShowUserMsg:true" />
    <add key="PreferredBrowsers" value="{Browsers:['Chrome,65','FireFox,61', 'Edge,15.15'], Message:'لطفا برای استفاده از سیستم از مرورگرهای کروم یا فایرفاکس استفاده نمایید.', Forced:false}" />
    <!--<add key="EnableDnsComputerInfo" value="true" />-->
    <!--<add key="HideThemeButton" value="true"/>-->
    <!--<add key="StartupSystem" value="تست" />-->
    <!--<add key="VisibleSystems" value="سیستم 1" />-->
    <!--<add key="LoginTheme" value="ThemeName"/>-->
    <!--<add key="EnableNotification" value="false" />-->
    <!--** Debug Configs-->
    <add key="HideDeleteInForms" value="true" />
    <add key="HideNextPrevInForms" value="false" />
    <add key="Debug" value="true" />
    <!--** Security Configs-->
    <!---->
    <!---->
    <!--<add key="ShowConnectionInfo" value="true" />-->
    <!--<add key="AllowManagementWindow" value="false" />-->
    <!--<add key="CaptchaShowLoginTryCount" value="0" />-->
    <!--<add key="LockIsActiveOnObject" value="true"/>-->
    <!--<add key="IpCanChange" value="true"/>-->
    <!--<add key="BrowserCanChange" value="true"/>-->
    <!--<add key="EnableUseCaseLog" value="true" />-->
    <!--<add key="EnableForgetPassword" value="true"/>-->
    <add key="SecureLogin" value="false" />
    <!--** Don't change this Configs-->
    <add key="RemotingUsage" value="None" />
    <add key="ReleaseVersion" value="true" />
    <add key="DeployedVersion" value="true" />
    <!--<add key="AddBraceInDbColumn" value="true" />-->
    <add key="ExtraFonts" value="B Nazanin,IranNastaliq" />
    <add key="MaxExcelExportRows" value="400" />
    <!--<add key="CSPResource" value="https://www.goftino.com/  https://cdn.goftino.com/" />-->
    <!--<add key="ValidOrigins" value="http://localhost:8080/  http://sso.farhang.gov.ir/" />-->
    <add key="OoIsActive" value="True" />
    <add key="OoServerHost" value="http://192.168.1.201" />
    <add key="OoHandlerHost" value="http://192.168.1.142:3000/wopi/files/" />
    <!--<add key="OoHandlerHost" value="http://192.168.1.112:778/wopi/files/"/>-->
    <add key="OoHmacKey" value="Dbh1zG6OvhISvBNHqLDDWIF7Nvwdf2iTJEkv04sH8rTjzfiROd4WJunI0yP+Amd3K2MqMa4rphNYGTd1XzV8tA==" />
    <!-- <add key="UiTest" value="true" /> -->
    <!--<add key="Messenger" value="Darkoob" />-->
    <add key="Dashboard" value="true" />
    <!--<add key="IsHttps" value="true"/>-->
    <!---->
    <add key="DbSession" value="true" />
    <!--<add key="SanitizeType" value="1" />-->
    <!---->
    <!--<add key="DefaultPortalTitle" value="پورتال سايت وزارت ارشاد" />-->
    <!--<add key="CustomUiDevelopUrl" value="http://localhost:4200/" />-->
    <add key="RemotingUrl" value="tcp://192.168.18.79:14002/BarsaSpl" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <machineKey validationKey="81F26454A6F0693936C75B3A616B222885DA827D56D9912AFF507C1754DA59CB0C2955A41C7DD03CEF8DCBDB3E0677B1478B14458C4E663855D34F86B6743B9C" decryptionKey="51451ED56928365FB47ABC9C1EB3219C689B90CCA2AA2497DF6B26C10DB981F5" validation="SHA1" decryption="AES" />
    <httpRuntime targetFramework="4.5" executionTimeout="900" maxRequestLength="8192" enableVersionHeader="false" />
    <sessionState mode="InProc" timeout="60000" regenerateExpiredSessionId="true" cookieName="ThemeClass" />
    <!--# begin ReleaseVersion[0]-->
    <compilation debug="false" batch="false" targetFramework="4.5">
      <!--# end   ReleaseVersion[0]-->
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Dashboard.v18.2.Web.WebForms, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.Dashboard.v18.2.Core, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.Office.v18.2.Core, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.Dashboard.v18.2.Web, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.Data.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.DataAccess.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
        <add assembly="DevExpress.Web.Resources.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" />
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <!--# begin BMT[2]-->
        <clear />
        <!--# end   BMT[2]-->
      </protocols>
    </webServices>
    <!--# begin G[0]-->
    
    <!--# end   G[0]-->
    <!--<httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" name="ASPxHttpHandlerModule" />
      <add name="ITHitPutUploadProgressAndResumeModule" type="ITHit.WebDAV.Server.ResumableUpload.PutUploadProgressAndResumeModule, ITHit.Server.Web" />
</httpModules>-->
    <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <!--# begin BMT[3]-->
    <!--# end   BMT[3]-->
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" verb="GET,POST" path="DXDD.axd" validate="false" />
      <add verb="*" path="WebDav" type="WebDAVServer.FileSystemStorage.AspNet.DavHandler" />
    </httpHandlers>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--<add name="Service-Worker-Allowed" value="/" />-->
        <!--# begin Rpm[0]-->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Content-Security-Policy" value="frame-ancestors 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline' resource://pdf.js   ; style-src   'self' 'unsafe-inline' 'unsafe-eval' https://fonts.googleapis.com" />
        <!--# end   Rpm[0]-->
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <!--OMID: prevent to send coockies to other sites. it seems that it works for Chrome only rightnow.-->
    <!--<rewrite>
      <rules>
        <rule name="Block Remote Access to Admin" stopProcessing="true" patternSyntax="ECMAScript" enabled="true">
          -->
    <!-- specify secure folder matching trailing / or $ == end of string-->
    <!--
          <match url="test(/|$)" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            -->
    <!-- Allow local host -->
    <!--
            <add input="{REMOTE_ADDR}" pattern="localhost" ignoreCase="true" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="::1" negate="true" />
          </conditions>
          -->
    <!-- by default, deny all requests. Options here are "AbortRequest" (drop connection), "Redirect" to a 403 page, "CustomResponse", etc.  -->
    <!--
          <action type="CustomResponse" statusCode="403" statusDescription="Forbidden" statusReason="Access to this URL is restricted" />
          -->
    <!-- or send the caller to an error page, home page etc
           <action type="Redirect" url="/public/forbidden.htm" redirectType="Temporary" />
      -->
    <!--
        </rule>
      </rules>
      <outboundRules>
        <clear />
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="barsa novin ray software server, LTD." />
        </rule>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="{R:0}; SameSite=strict" /> 
          <conditions>
          </conditions>
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>

    </rewrite>-->
    <handlers>
      <remove name="WopiHandler" />
      <add name="WopiHandler" verb="*" resourceType="Unspecified" path="/wopi/*" type="Barsa.Meta.Ui.ExtWeb.WopiHandler, Barsa.Web.Ui" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" verb="GET,POST" path="DXDD.axd" name="WebDashboardHandler" preCondition="integratedMode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="My WebDAV Handler" path="WebDav" verb="*" type="WebDAVServer.FileSystemStorage.AspNet.DavHandler" preCondition="integratedMode" />
    </handlers>
    <!--# begin G[1]-->
    
    <!--# end   G[1]-->
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="false" removeServerHeader="true">
        <verbs>
          <!--<add verb="OPTIONS" allowed="false" />-->
          <!--<add verb="HEAD" allowed="false" />-->
          <!--<add verb="LOCK" allowed="false" />-->
          <!--<add verb="UNLOCK" allowed="false" />-->
          <add verb="PROPFIND" allowed="false" />
          <add verb="COPY" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="PROPPATCH" allowed="false" />
          <add verb="MKCOL" allowed="false" />
          <add verb="MOVE" allowed="false" />
          <add verb="DELETE" allowed="false" />
        </verbs>
        <requestLimits maxAllowedContentLength="8192000">
        </requestLimits>
        <hiddenSegments>
          <add segment="index.html" />
          <add segment="main_original.html" />
          <add segment="HelpDeskPost.html" />
          <add segment="HelpDeskT1cket.html" />
          <add segment="FileViewerAgentHelp.html" />
          <add segment="1.html" />
          <add segment="2.html" />
          <add segment="Ball1.html" />
          <add segment="Boxl.html" />
          <add segment="Box2.html" />
          <add segment="Circle1.html" />
          <add segment="Circle2.html" />
          <add segment="Gear1.html" />
          <add segment="Gif1.html" />
          <add segment="HGlass1.html" />
          <add segment="Progressl.html" />
          <add segment="mail-new - Copy.html" />
          <!--<add segment="ScannerAgentHelp.html" />-->
          <add segment="mail.html" />
          <add segment="Test.html" />
          <add segment="release-notes.html" />
          <add segment="Testl.html" />
          <!--<add segment="mousetrap.html" />-->
          <add segment="CalendarPanel.html" />
          <add segment="CopyrightPanel.html" />
          <add segment="FirstPagePanel.html" />
          <add segment="LoginFormPanel.html" />
          <add segment="preview.html" />
          <!--<add segment="Detail.html" />
				  <add segment="Header.html" />
				  <add segment="Master.html" />-->
          <add segment="TestSimpleForm.html" />
          <!--<add segment="UploadWindowNewTemplate.html" />-->
        </hiddenSegments>
      </requestFiltering>
    </security>
    <!--for solving concurrent request problem from one session between IIS and ie 8, 9 , ...-->
    <!--<serverRuntime uploadReadAheadSize="0" />-->
    <defaultDocument>
      <files>
        <clear />
        <add value="MainPageNew.aspx" />
      </files>
    </defaultDocument>
    <!--for IIS 7.5 + -->
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.2, Version=18.2.4.0, Culture=neutral, PublicKeyToken=656d8e9aa086e061" name="ASPxHttpHandlerModule" />
      <add name="ITHitPutUploadProgressAndResumeModule" type="ITHit.WebDAV.Server.ResumableUpload.PutUploadProgressAndResumeModule, ITHit.Server.Web" />
      <remove name="WebDAVModule" />
      <!--<add name="ContentSecurityPolicyModule" type="Barsa.Meta.Ui.ExtWeb.ContentSecurityPolicyModule"/>-->
    </modules>
    <caching enabled="true">
      <profiles>
        <add extension=".aspx" policy="DontCache" kernelCachePolicy="DontCache" location="None" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
        <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any" />
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" dynamicCompressionLevel="7" />
      <dynamicTypes>
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=utf-8" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/javascript; charset=utf-8" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/css" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <!--# begin BMT[4]-->
    <!--# end   BMT[4]-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.3.0" newVersion="2.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.1.0" newVersion="7.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.31.0.0" newVersion="6.31.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog.Sinks.File" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.2.0.0" newVersion="2016.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2016.2.0.0" newVersion="2016.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector.Integration.WebApi" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>
</configuration>